.page-number {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 2em;
    color: #808080;
}
.page-number::before {
    content: "";
    background-color: #ededed;
    height: 1px;
    width: 100%;
    margin: 1em 3em;
}
